@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Membru</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Prenume
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            Nume
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            Telefon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Phone)
        </dd>
        <dt class="col-sm-2">
            Data de înregistrare
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.JoinDate)
        </dd>
        <dt class="col-sm-2">
            Numele Antrenorului
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Trainer.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member.MemberId">Editează</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
