@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de membri</h1>

<p>
    <a asp-page="Create">Creează un membru nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Prenume
            </th>
            <th>
                Nume
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                Telefon
            </th>
            <th>
                Data de înregistrare
            </th>
            <th>
                Antrenor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberId">Editează</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberId">Ștergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
