@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Trainers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ești sigur că vrei să stergi?</h3>
<div>
    <h4>Trainer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Specialization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Specialization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trainer.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Phone)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Trainer.TrainerId" />
        <input type="submit" value="Șterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Înapoi la listă</a>
    </form>
</div>
