@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Trainers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalii</h1>

<div>
    <h4>Antrenori</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Prenume
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.FirstName)
        </dd>
        <dt class="col-sm-2">
            Nume
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.LastName)
        </dd>
        <dt class="col-sm-2">
            Specializare
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Specialization)
        </dd>
        <dt class="col-sm-2">
            Telefon
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trainer.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Trainer.TrainerId">Editează</a> |
    <a asp-page="./Index">Înapoi la listă</a>
</div>
