@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Trainers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listă Antrenori</h1>

<p>
    <a asp-page="Create">Creează un antrenor nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Prenume
            </th>
            <th>
                Nume
            </th>
            <th>
                Specializare
            </th>
            <th>
                Telefon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trainer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrainerId">Editează</a> |
                <a asp-page="./Details" asp-route-id="@item.TrainerId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrainerId">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
