@page
@model Pop_Alexandru_Aurel_Proiect.Pages.Subscriptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listă abonamente</h1>

<p>
    <a asp-page="Create">Creează un nou abonament</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Membru
            </th>
            <th>
                Tip de abonament
            </th>
            <th>
                Dată de început
            </th>
            <th>
                Dată de sfârșit
            </th>
            <th>
                Activ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subscription) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubscriptionType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubscriptionId">Editează</a> |
                <a asp-page="./Details" asp-route-id="@item.SubscriptionId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubscriptionId">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
