@page
@model Pop_Alexandru_Aurel_Proiect.Pages.SubscriptionsType.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listă de abonamente</h1>

<p>
    <a asp-page="Create">Creează un nou abonament</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nume
            </th>
            <th>
                Durată în zile
            </th>
            <th>
                Preț
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubscriptionType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubscriptionTypeId">Editează</a> |
                <a asp-page="./Details" asp-route-id="@item.SubscriptionTypeId">Detalii</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubscriptionTypeId">Șterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
