@page
@model Pop_Alexandru_Aurel_Proiect.Pages.SubscriptionsType.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType[0].DurationInDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubscriptionType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubscriptionTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubscriptionTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubscriptionTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
